In [23]:
import pandas as pd

base = pd.read_csv('census.csv')

In [24]:
base.head()

   39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
0  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
1  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
2  53            Private  234721        11th  ...   0  40   United-States   <=50K
3  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K
4  37            Private  284582     Masters  ...   0  40   United-States   <=50K

[5 rows x 15 columns]

In [26]:
base

       39          State-gov   77516  ...  40   United-States   <=50K
0      50   Self-emp-not-inc   83311  ...  13   United-States   <=50K
1      38            Private  215646  ...  40   United-States   <=50K
2      53            Private  234721  ...  40   United-States   <=50K
3      28            Private  338409  ...  40            Cuba   <=50K
4      37            Private  284582  ...  40   United-States   <=50K
...    ..                ...     ...  ...  ..             ...     ...
32555  27            Private  257302  ...  38   United-States   <=50K
32556  40            Private  154374  ...  40   United-States    >50K
32557  58            Private  151910  ...  40   United-States   <=50K
32558  22            Private  201490  ...  20   United-States   <=50K
32559  52       Self-emp-inc  287927  ...  40   United-States    >50K

[32560 rows x 15 columns]

Transfomação de variáveis categóricas em variáveis numéricos

In [27]:
previsores = base.iloc[:, 0:14].values

In [31]:
previsores[:, 1]

array([' Self-emp-not-inc', ' Private', ' Private', ..., ' Private',
       ' Private', ' Self-emp-inc'], dtype=object)

In [32]:
classe = base.iloc[:, 14].values

In [33]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [34]:
labelencoder_previsores = LabelEncoder()

In [35]:
labels = labelencoder_previsores.fit_transform(previsores[:,1])

In [36]:
labels

array([6, 4, 4, ..., 4, 4, 5])

In [37]:
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])],remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

In [38]:
labelencorder_classe = LabelEncoder()
classe = labelencorder_classe.fit_transform(classe)

Escalonamento dos valoers numéricos

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
scaler = StandardScaler()

In [14]:
previsores = scaler.fit_transform(previsores)

In [15]:
from sklearn.model_selection import train_test_split
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste =  train_test_split(previsores, classe, test_size=0.25, random_state=0)