In [1]:
import pandas as pd

df = pd.read_csv('census.csv')

In [2]:
df.head()

   39          State-gov   77516   Bachelors  ...   0  40   United-States   <=50K
0  50   Self-emp-not-inc   83311   Bachelors  ...   0  13   United-States   <=50K
1  38            Private  215646     HS-grad  ...   0  40   United-States   <=50K
2  53            Private  234721        11th  ...   0  40   United-States   <=50K
3  28            Private  338409   Bachelors  ...   0  40            Cuba   <=50K
4  37            Private  284582     Masters  ...   0  40   United-States   <=50K

[5 rows x 15 columns]

Transfomação de variáveis categóricas em variáveis numéricos

In [3]:
previsores = df.iloc[:, 0:14].values

In [4]:
previsores[:, 1]

array([' Self-emp-not-inc', ' Private', ' Private', ..., ' Private',
       ' Private', ' Self-emp-inc'], dtype=object)

In [5]:
classe = df.iloc[:, 14].values

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [7]:
labelencoder_previsores = LabelEncoder()
previsores[:, 1] = labelencoder_previsores.fit_transform(previsores[:,1])
previsores[:, 4] = labelencoder_previsores.fit_transform(previsores[:,3])
previsores[:, 5] = labelencoder_previsores.fit_transform(previsores[:,5])
previsores[:, 6] = labelencoder_previsores.fit_transform(previsores[:,6])
previsores[:, 7] = labelencoder_previsores.fit_transform(previsores[:,7])
previsores[:, 8] = labelencoder_previsores.fit_transform(previsores[:,8])
previsores[:, 9] = labelencoder_previsores.fit_transform(previsores[:,9])
previsores[:, 13] = labelencoder_previsores.fit_transform(previsores[:,13])

In [8]:
previsores

array([[50, 6, 83311, ..., 0, 13, 39],
       [38, 4, 215646, ..., 0, 40, 39],
       [53, 4, 234721, ..., 0, 40, 39],
       ...,
       [58, 4, 151910, ..., 0, 40, 39],
       [22, 4, 201490, ..., 0, 20, 39],
       [52, 5, 287927, ..., 0, 40, 39]], dtype=object)

In [9]:
onehotencorder = ColumnTransformer(transformers=[("OneHot", OneHotEncoder(), [1,3,5,6,7,8,9,13])], remainder='passthrough')
previsores = onehotencorder.fit_transform(previsores).toarray()

In [10]:
labelencorder_classe = LabelEncoder()
classe = labelencorder_classe.fit_transform(classe)

Escalonamento dos valoers numéricos

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

Divisão de base em Classe e Previsores

In [12]:
from sklearn.model_selection import train_test_split
previsores_treinamento, previsores_teste, classe_treinamento, classe_teste =  train_test_split(previsores, classe, test_size=0.15, random_state=0)

In [13]:
len(previsores)

32560

In [14]:
len(previsores_teste)

4884

In [15]:
len(previsores_treinamento)

27676