Importando biblioteca e base de dados

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('credit_data.csv')

In [2]:
df.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [3]:
#Substituindo falores negativos na coluna da idade pelo valor médio da idade
df.loc[df.age < 0, 'age'] = 40.92

In [4]:
#divisão entre variáveis preditoras e classe
previsores = df.iloc[:, 1:4].values
classe = df.iloc[:, 4].values

In [5]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer = imputer.fit(previsores[:, 1:4])
previsores[:, 1:4] = imputer.transform(previsores[:, 1:4])

In [6]:
#padronização dos valores
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
previsores = scaler.fit_transform(previsores)

In [7]:
#divisão df_treinamento e df_test
from sklearn.model_selection import train_test_split
previsore_treinamento, previsores_test, classe_treinamento, classe_test = train_test_split(previsores, classe, test_size=0.25, random_state=0)

In [8]:
len(previsores)

2000

In [9]:
len(previsore_treinamento)

1500

In [10]:
len(previsores_test)

500