In [ ]:
!pip install pyod

In [2]:
import pandas as pd

base = pd.read_csv('credit_data.csv')

In [3]:
base = base.dropna()

In [4]:
from pyod.models.knn import KNN
detector = KNN()
detector.fit(base.iloc[:, 1:4])

KNN(algorithm='auto', contamination=0.1, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2,
  radius=1.0)

In [5]:
previsoes = detector.labels_
previsoes

array([0, 0, 0, ..., 0, 0, 1])

In [6]:
confianca_previsoes = detector.decision_scores_
confianca_previsoes

array([ 704.78948078,  365.218309  ,  583.2159934 , ...,  395.01466508,
        557.88978241, 1071.5109404 ])

In [13]:
outlier = list()
for i in range(len(previsoes)):
    #print(previsoes[i])
    if previsoes[i] == 1:
        outlier.append(i)

In [15]:
lista_outlier = base.iloc[outlier, :]
lista_outlier

      i#clientid        income        age          loan  c#default
4              5  66952.688845  18.584336   8770.099235          1
24            25  65301.984029  48.840922   5465.267886          0
29            30  58842.891308  54.510948  10871.186790          0
34            35  57584.973790  36.672021   1728.423755          0
38            39  60921.063104  18.840526    968.836383          0
...          ...           ...        ...           ...        ...
1943        1944  59792.508585  24.187499    660.241453          0
1944        1945  35879.519994  41.072935   5335.403499          0
1957        1958  50458.958203  52.314565   9852.889427          0
1996        1997  69516.127573  23.162104   3503.176156          0
1999        2000  69436.579552  56.152617   7378.833599          0

[200 rows x 5 columns]